# Prerequisites
*.d

# IDE Files
/.idea

# cmake
/cmake-build-debug
/CMakeFiles
*.cmake
CMakeCache.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.e
*.pre

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
montador
ligador

